*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

body{
    margin-top: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url('https://w0.peakpx.com/wallpaper/358/40/HD-wallpaper-hacker-anonymous-evil.jpg');
    text-shadow: 0 0 0.2px white;
    background-size: cover;
    color: white;
}
